.captionedVideo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.caption{
    margin: 2px 0px 2px 0px;
    font-style: italic;
}

.smallVideo{
    width: 360px;
}

.mediumVideo{
    width: 540px;
}

.largeVideo{
    width: 720px;
}

@media (max-width: 768px){
    .smallVideo, .mediumVideo, .largeVideo{
        width: 100%;
    }
}