.aboutText{
    width: 80%;
    text-align: left;
}

.aboutLine{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#aboutHeader{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    img{
        height: 300px;
        margin: 10px 10px 10px 0px;
    } 
    #aboutHeaderText{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#aboutParagraph{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    font-size: 18px;
}

.textBasic{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    margin: 0px;
}

.textCursive{
    font-family: 'Miama';
    font-size: 50px;
    margin: 0px;
    line-height: 1.05;
}

.textWhimsy{
    font-family: "Playpen Sans", cursive;
    font-size: 24px;
    margin: 0px;
}

.textHandwritten{
    font-family: "Lacquer", system-ui;
    font-size: 30px;
    margin: 0px;
}

@media (max-width: 1024px){
    #aboutHeader{
        img{
            height: 250px;
        }
        #aboutHeaderText{
            height: 250px;
        }
    }
}

@media (max-width: 768px){
    .subpageHeader h1{
        font-size: 40px;
    }
    
    .subpageHeader h2{
        font-size: 20px;
    }

    .aboutText {
        width: 90%;
    }
    
    .textBasic{
        font-size: 20px;
    }
    
    .textCursive{
        font-size: 40px;
    }

    .textHandwritten{
        font-size: 20px;
    }

}