.projectsNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projectsNav button{
    font-family: "Lacquer", system-ui;
    background-color: transparent;
    border: none;
    width: 165px;
    font-size: 22px;
    transform: scale(1.0);
    transition: 0.1s ease-in;
}

.projectsNav button:hover{
    cursor: pointer;
    color: var(--color-medium);
    transform: scale(1.02);
    transition: 0.1s ease-out;
}