.listHeader{
    position: fixed;
    top: 0;
    height: fit-content;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: white;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listHeaderTitle{
    padding-top: 5px;
    margin: 0px;
    font-style: italic;
}

.listSearchAndSort{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    
    input{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        margin-right: 5px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 3px 6px;
    }
    button{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        margin-right: 15px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 3px 6px;
        width: fit-content;
    }
    button:hover{
        cursor: pointer;
        color: white;
        background-color: black;
    }
    select{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 3px 6px;
        width: fit-content;
    }
}

.listItems{
    /* handled in List.jsx --> margin-top: 90px; */
    width: 100%;
}

@media (max-width: 768px){
    .listHeader{
        top: 50px;
    }

    .listHeaderTitle{
        padding-left: 5px;
    }

    .listSearchAndSort{
        flex-direction: column;
        padding-left: 5px;
        margin-top: 5px;

        select{
            margin-top: 5px;
        }
    }

    /* .listItems{
        handled in List.jsx --> margin-top: 130px;
    } */
}