.tableOfContents{
  padding: 1rem;
  background-color: rgba(219, 233, 163, 0.4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: fit-content;
  max-width: 90%;
}

.tableOfContentsHeader{
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 0.75rem;
  color: #2d3748;
}

.tableOfContentsList{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.table-of-contents-link {
  display: block;
}

.ml-0 { margin-left: 0rem; }
.ml-4 { margin-left: 1rem; }
.ml-8 { margin-left: 2rem; }
.ml-12 { margin-left: 3rem; }
.ml-16 { margin-left: 4rem; }