.projectTile2{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    align-items: center;
    background: none;
    transition: 0.1s ease-in;
}

.projectTile2:hover{
    background-color: rgba(225, 207, 220, 0.2);
    transition: 0.1s ease-out;
}

.projectThumbnail{
    width: 350px;
}

.projectTileInfo{
    margin-left: 10px;
    h3{
        font-family: "Lacquer", system-ui;
        font-size: 30px;
        margin: 0px;
    }
}