.aboutContainer{
    font-family: "Lacquer", system-ui;
    text-align: left;
    width: 70vw;
}

.aboutText{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.aboutHeader{
    display: flex;
    flex-direction: column;
}

.aboutHeader h2{
    font-family: "Mountains of Christmas", serif;
}

.backLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: black;
    transform: scale(1.0);
    transition: 0.1s ease-in;
    font-size: 18px;
    margin-bottom: 15px;
}

.backLink:hover{
    transform: scale(1.1);
    transition: 0.1s ease-out;
}

.emailBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #ECD5E5;
    width: fit-content;
}

#envelope{
    width: 60px;
    transform: rotate(-10deg);
    margin-right: 5px;
}

#aboutEmail{
    font-size: 24px;
}

.aboutText h1{
    font-size: 50px;
    margin: 0px;
}

.aboutText h2{
    font-size: 30px;
    margin: 0px;
}

.aboutText h3{
    font-size: 28px;
    margin: 0px;
}

.aboutText p{
    font-size: 22px;
    margin: 0px;
}

.aboutText ul{
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutText li{
    font-size: 22px;
    width: fit-content;
    margin: 0px 5px 5px 0px;
    border-radius: 10px;
    padding: 5px;
}

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillsListTitle{
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}


#likes li{
    background-color: #DCE7B2;
}

#aboutDaisies{
    width: 50%;
}

#aboutDaisiesBottom{
    width: 45%;
    height: auto;
}

@media (max-width: 768px){
    .emailBox{
        padding: 5px;
        width: 70%;
    }

    #envelope{
        width: 50px;
    }
    
    #aboutEmail{
        font-size: 22px;
    }
}