.aboutContainer{
    font-family: "Lacquer", system-ui;
    text-align: left;
    width: 70vw;
}

.backLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: black;
    transform: scale(1.0);
    transition: 0.1s ease-in;
    font-size: 18px;
    margin-bottom: 15px;
}

.backLink:hover{
    transform: scale(1.1);
    transition: 0.1s ease-out;
}

.aboutText{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.aboutHeader{
    display: flex;
    flex-direction: column;
}

.aboutTextCharacters{
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 0px;
}

.aboutTextCursive{
    font-family: 'Miama';
    font-size: 50px;
    margin: 0px;
    line-height: 1.05;
}

.aboutTextPlaypen{
    font-family: "Playpen Sans", cursive;
    font-size: 20px;
    margin: 0px;
}

.aboutTextLacquer{
    font-family: "Lacquer", system-ui;
    font-size: 22px;
    width: 170px;
    margin: 0px;
}

.aboutText h1{
    font-size: 50px;
    margin: 0px;
}

.aboutText h2{
    font-size: 30px;
    margin: 0px;
}

.aboutText h3{
    font-size: 28px;
    margin: 0px;
}

.listTitle{
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}

.aboutText ul{
    margin: 5px 0px;
    font-family: "Playpen Sans", cursive;
    font-size: 18px;
    width: 50%;
    columns: 2;
}

#aboutContact{
    font-size: 22px;
    font-family: "Lacquer", system-ui;
    position: absolute;
    bottom: 0;
}

#aboutContact p{
    margin: 0px;
}

#aboutDaisies{
    width: 50%;
}

#aboutDaisiesBottom{
    width: 45%;
    height: auto;
}

#char2{
    margin-left: 90px;
}

#char3{
    margin-left: 290px;
}

#char5{
    margin-left: 40px;
    height: 100px;
}

#char6{
    margin-left: 60px;
}

#char7{
    font-size: 16px;
    width: 375px;
    text-align: center;
}

#char8{
    margin-left: 210px;
}

#char9{
    margin-left: 10px;
    font-size: 22px;
}

#char10{
    margin-left: 40px;
}

@media (max-width: 768px){
    .aboutText ul{
        width: 90%;
        padding-left: 20px;
    }
}