.homeContainer{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.headerText{
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: left;
}

#title{
    font-family: "Lacquer", system-ui;
    font-size: 50px;
    margin: 0px;
}

#tagline{
    font-family: "Lacquer", system-ui;
    font-size: 30px;
    margin: 0px;
}

.navButton{
    z-index: 1;
    position: absolute;
    text-decoration: none;
    color: black;
    transform: scale(1.0);
    transition: 0.2s ease-in;
}

.navButton:hover{
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.navImage{
    height: 100px;
    padding: 0px;
    margin: 0px;
}

#fishImage{
    height: 80px;
}

#ladybugImage{
    transform: rotate(30deg);
}

#lunamothImage{
    transform: rotate(-10deg);
}

#aboutButton{
    top: 5%;
    right: 15%;
}

#projectsButton{
    top: 15%;
    left: 50%;
}

#exploreButton{
    display: flex;
    flex-direction: row;
    top: 40%;
    left: 30%;
}

#youtubeButton{
    top: 30%;
    right: 25%;
}

#instagramButton{
    top: 50%;
    right: 40%;
}

.navText{
    font-family: "Mountains of Christmas", serif;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

#contactText{
    font-family: "Lacquer", system-ui;
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 40px;
    font-size: 30px;
}

#homeDaisiesBottom{
    width: 50%;
    height: auto;
    opacity: 0.6;
}

#whiteRabbit{
    position: absolute;
    z-index: 0;
    width: 25%;
    height: auto;
}


@media (max-width: 1024px){
    .navText{
        font-size: 35px;
    }

    .navImage{
        height: 90px;
        padding: 0px;
        margin: 0px;
    }
    
    #fishImage{
        height: 70px;
    }

    #aboutButton{
        top: 15%;
        right: 10%;
    }
    
    #projectsButton{
        top: 22%;
        left: 45%;
    }
    
    #exploreButton{
        top: 40%;
        left: 15%;
    }
    
    #youtubeButton{
        top: 40%;
        right: 25%;
    }
    
    #instagramButton{
        top: 55%;
        right: 45%;
    }

    #contactText{
        bottom: 20px;
        font-size: 25px;
    }
}

@media (max-width: 768px){
    .navImage{
        height: 80px;
        padding: 0px;
        margin: 0px;
    }
    
    #fishImage{
        height: 60px;
    }

    #aboutButton{
        top: 25%;
        right: 10%;
    }
    
    #projectsButton{
        top: 30%;
        left: 35%;
    }
    
    #exploreButton{
        top: 50%;
        left: 12%;
    }
    
    #youtubeButton{
        top: 43%;
        right: 20%;
    }
    
    #instagramButton{
        top: 60%;
        right: 40%;
    }

    .navText{
        font-size: 30px;
    }

    #contactText{
        bottom: 10px;
        left: 10%;
        font-size: 20px;
        text-wrap: wrap;
        width: 50%;
        text-align: left;
    }

    #homeDaisies{
        height: 100vh;
        width: 100vw;
    }

    #homeDaisiesBottom{
        display:none;
    }

    #whiteRabbit{
        width: 30%;
    }
}