.homeContainer{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.headerText{
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
}

#title{
    font-family: "Lacquer", system-ui;
    font-size: 50px;
    margin: 0px;
}

#tagline{
    font-family: "Lacquer", system-ui;
    font-size: 30px;
    margin: 0px;
}

#contactText{
    font-family: "Lacquer", system-ui;
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 40px;
    font-size: 30px;
}

#aboutButton{
    margin-right: 70px;
    margin-bottom: 25px;
}

#projectsButton{
    margin-left: 10px;
}

#youtubeButton{
    margin-top: 30px;
}

#instagramButton{
    margin-right: 15px;
}

#homeDaisiesBottom{
    width: 50%;
    height: auto;
    opacity: 0.6;
}

#whiteRabbit{
    position: absolute;
    z-index: 0;
    width: 25%;
    height: auto;
}


@media (max-width: 1024px){
    #contactText{
        bottom: 20px;
        font-size: 25px;
    }
}

@media (max-width: 768px){
    .headerText{
        margin-left: 20px;
    }

    #contactText{
        bottom: 10px;
        left: 5%;
        font-size: 20px;
        text-wrap: wrap;
        width: 50%;
        text-align: left;
    }

    #homeDaisies{
        height: 100vh;
        width: 100vw;
    }

    #homeDaisiesBottom{
        display:none;
    }

    #whiteRabbit{
        width: 35%;
    }
}