.exploreContainer{
    font-family: "Lacquer", system-ui;
    text-align: left;
    width: 70vw;
}

.exploreText{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.exploreHeader{
    display: flex;
    flex-direction: column;
}

.backLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: black;
    transform: scale(1.0);
    transition: 0.1s ease-in;
    font-size: 18px;
    margin-bottom: 15px;
}

.backLink:hover{
    transform: scale(1.1);
    transition: 0.1s ease-out;
}

#exploreDaisies{
    width: 50%;
}

#exploreDaisiesBottom{
    width: 45%;
    height: auto;
}