/*
font-family: "Lacquer", system-ui;
font-family: "Mountains of Christmas", serif;
*/

:root {
  --color-one: #6c8220;
  --color-two: #3b4216;
  --color-three: #afc45f;
}

/* width */
::-webkit-scrollbar{
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track{
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #DCE7B2;
  border-radius: 20px;
  border: 3px solid #DCE7B2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #b9d562;
  border: 3px solid #b9d562;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container{
  position: absolute;
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;
}

.backgroundImg{
  position: absolute;
  z-index: 0;
  height: 100%;
  opacity: 0.6;
}

.topLeft{
  top: 0;
  left: 0;
}

.topRight{
  top: 0;
  right: 0;
}

.bottomLeft{
  bottom: 0;
  left: 0;
}

.bottomRight{
  bottom: 0;
  right: 0;
}