.individualProjectPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    img{
        width: 75%;
    }

    h3{
        font-family: Lacquer;
        font-size: 30px;
        margin: 10px 0px 10px 0px;
    }
}


.individualProjectPageDetails{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 2px 5px;
    

    .individualProjectDate{
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        margin: 0px;
    }

    a{
        font-family: "Inter";
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 12px;
        padding: 2px 5px;
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    a:hover{
        color: #ECD5E5;
        background-color: black;
    }
}

.individualProjectPageBadges{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ECD5E5;
}

.individualProjectPageBody{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    a{
        color: black;
    }

    a:hover{
        color: #ECD5E5;
        background-color: black;
    }
}

@media (max-width: 768px) {
    .individualProjectPageContainer{
        img{
            width: 100%;
        }
    }
}